<html>
  <head>
    
      <title>Twitter Search</title>
    
      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

      <script src="https://maps.googleapis.com/maps/api/js"></script>
      
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script> 
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
      
      <script src="/lib/dirPagination.js"></script>
      <script src="/javascripts/angularApp.js"></script>
      <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="twitterSearch">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<ui-view></ui-view>
</body>
</html>